div > div
	{
		margin: 2px;
	}
.container 
	{
		width: 700px;
		margin: 0 auto;
	}
ul
	{
		text-align: center;
		padding: 0px;
		margin-top: 0px;
		margin-bottom: 15px;
	}	
li > p
	{
		font-size: 30px;
		text-align: center;
		margin: 0px;
		padding-left: 5px;
		padding-right: 5px;
	}
.menulong
	{
		width: 700px;
		border-top: 1px solid black;
		position: a;
		margin: 0px;
	}
.vertical
	{
		height: 25px;
		width: 10px solid black;
		position: relative;
		top: 15px;
		right: 1px;
	}
.griscentro
	{
		width: 80px;
		margin-top: 5px; 
		margin-bottom: 30px;
		border: 0;
		border-top: 1px solid gray;
		border-bottom: 1px solid gray;
		float: center;
		position: relative;
	}
.bordegris
	{
		border: gray solid 4px;
	}
strong 
	{
		font-size: 25px;
	}	
.nuestrascoders 
	{
		border-top: 1px solid black;
		width: 60px;
		float: left;
		position: absolute;
	}
.span
 	{
 		display: inline-block;
  	}
.sizeimg
	{
		width: 200px;
		height: 150px;
		margin-top: 10px;
		margin-right: 5px;
		margin-left: 5px;
	}
.divport
	{
		margin-left: 20px;
		margin-bottom: 30px;
	}
h1
	{
		text-align: center;
		font-size: 50px;
		font-weight: 10px;
	}
h2
	{
		text-align: left;
		font-size: 35px;
		font-weight: 10px;
		margin-left: 20px;
	}
h3 
	{
		font-weight: 13px;
		margin: 3px;
	}
.latin
	{
		font-size: 22px;
		text-align: center;
		margin-top: 5px;
		margin-right: 70px;
		margin-bottom: 5px;
		margin-left: 70px;
	}
.txtbla
	{
		font-size: 30px;
		color: white;
	}
.fondogris
	{
		background-color: gray;
	}
	}
.izq
	{
		text-align: left;
	}
.filter
	{
		opacity: 0.8;
		border-radius: 20px;
		-webkit-filter: grayscale(0.4) blur(1px);
	} 
.image
	{
		position: relative;
	}
.imgroup
	{
		width: 700px;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-right: 0px;
		margin-left: 0px;
	}
.round
	{
		border-radius: 150px;
		position: relative;
		left: 35%;
		margin-top: 5px;
	}
body 
	{
		padding: 30px;
	}
h6
	{
		position: absolute;
		right: 2%;
		bottom: -15px;
		color: green;
		font-family: courier;
		font-size: 15px;
		text-shadow: 1px 1px black;
	}
p
	{
		font-size: 30px;
		text-align: center;
		margin-top: 20px;
		margin-right: 100px;
		margin-bottom: 20px;
		margin-left: 100px;
	}
/*
	¿POR QUÉ RAYOS TENDRÍA UN P DENTRO DE UN H1!

	h1 > p
	{
		text-align: center;
	}*/